{% extends 'base.html.twig' %}

{% block body %}
<div class="b--image" >
    <main class="container py-5">
        <section class="row mb-4">
            <div class="col-12 text-center">
                <h1 class="text-white bg-dark bg-opacity-75 p-3 rounded">Nos Catégories</h1>
            </div>
        </section>

        <section class="row mb-4">
            {% for category in categories %}
                {% if category.parent == null %}
                    <div class="col-12 mt-2 mb-4 text-center">
                        <h2 class="text-white bg-dark bg-opacity-75 p-3 rounded">{{ category.name }}</h2>
                    </div>
                {% else %}
                    <div class="col-md-4 col-sm-6 mb-4">
                        <div class="card h-100 bg-dark bg-opacity-50 text-white shadow-lg">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h3 class="card-title">{{ category.name }}</h3>
                                <a href="{{ path('categories_list', {slug: category.slug}) }}" class="btn btn-outline-light mt-3">Voir les produits</a>
                            </div>
                        </div>
                    </div>    
                {% endif %}
            {% endfor %}
        </section>

        

    </main>
</div>
{% endblock %}
